:root {
    --arial: 'arial', sans-serif;
    --wondar: "Wondar";
    --green: #d0ff00;
    --red: #ff2200;
    --blue: #0015ff;
}

@font-face {
    font-family: "Wondar";
    src: url("wondarquason.otf");
}